@font-face {
    font-family: 'MyriadPro-Bold';
    src: url(../assets/Font/Myriad_Pro/MyriadPro-Bold.otf);
}
.home{
    display: flex;
    flex-direction: column;
    height: 880px;
    width:460px;
    background-image: url(../assets/images/Homepage/amarnaBotTelegramMiniGameHomepage.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
/* .home div{
    border-style: solid;
} */
.topbar{
    display: flex;
    justify-content: space-between;
    height: 3%;
    margin: 30px 20px 0px 20px;
}
.topbar-cancel{
    display: flex;
    align-items: center;
    color: white;
}
.topbar-title{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.topbar-title-amarna{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;

}
.topbar-detail{
    display: flex;
    align-items: center;
}
.info{
    display: flex;
    justify-content: space-around;
    height: 13%;
    margin: 0px 20px 0px 20px;
}
.info-avatar{
    display: flex;
    align-items: center;
    height: 100%;
    width:50%;
}
.info-avatar-imgbox{
    width:50px;
    height:50px;
    background-color: white;
    border-radius: 5px;
}
.info-avatar-text{
    color:white;
    margin-left: 10px;
}
.info-quest{
    width:50%;
    margin-left:20px;
    position: relative;
    display: flex;
    align-items: center;
}
.info-quest-img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
}
.info-quest-text{
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 10px;
    margin-left:20px;
    padding-left: 10px;
    padding-right : 5px;
    background-color: #464646;
    color: white;
}

.hide{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 30%;
    z-index: 1;
}
.hide-img:active{
    opacity: 0.8;
    height: 70%;
    width: 60%;
}
.hide-img{
    height: 70%;
    width: 60%;
    opacity: 1;
}
.vase{
        position: absolute;
        display:flex;
        justify-content : center;
        height : 20%;
        align-items: last baseline  ;
        bottom: 70px;
        left: 90px;
        /* background-image: url(../assets/images/Homepage/gameBackground.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center; */
}
.vase-img-big{
    position: absolute;
    width:105px;
    height:175px;
    bottom: 70px;
}
.vase-img-small{
    position:absolute;
    margin-bottom:10px;
    width:85px;
    height:150px;
    bottom: 70px;
    background-image: url(../assets/images/Homepage/vase.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.panel{
    display:flex;
    justify-content : space-around;
    align-items: center;
    height : 10%;
}
.panel-score{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.panel-score-img{
    width:45px;
    height:50px;
}
.panel-score-text{
    height:50px;
    font-size: 38px;
    font-weight:bolder;
    font-family: 'MyriadPro-Bold';
    background: -webkit-linear-gradient(#fff3bf,#fff3bf,#fff3bf,#fff3bf,#ffd93a,#ffd93a,#ffd93a,#ffd93a);
    /* background: -webkit-linear-gradient(#fff3bf,#ffd93a); */
    background-clip:padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #ffd93a; */
}
/* .coin:start
*/

.coin{
    height: 10%;
    position: absolute;
    bottom:400px;
    left:215px;
    z-index: 0;
}
#coin {
    background-image: url(../assets/images/Homepage/amarIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 30px;
}


@keyframes coin_down {
    from {
        bottom: 400px;
        transform: rotateX(0);
    }
    to {
        bottom: 50px;
        transform: rotateX(360deg);
    }
}

#cup_animation_1 {
    animation: cup_animation1 0.5s 1 forwards;
}

#cup_animation_2 {
    
}

#cup_animation_3 {

}

@keyframes cup_animation1 {
    10% {
        left: 100px;
    }
    20%{
        left:120px
    }
    30% {
        left:270px;
    }
    40%{
        left:100px
    }
    50%{
        left:270px
    }
    60%{
        left: 100px;
    }
    70%{
        left:270px
    }
    80%{
        left:100px
    }
    100%{
        left:180px
    }
}