.earn{
    height: 100vh;
    background-color: black;
}
.picture{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.picture-token-img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: radial-gradient(circle,#fff3bf, #e7c127,#c09b07,#534405,#000000,#000000,#000000);
    position:absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    height: 10%;
    text-align: center;
    color:white;
}
.item-list{
    width: 100%;
    height: 50%;
}
.item-list-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-list-part-description{
    color:white;
    margin: 10px 10px 10px 40px;
    font-size: x-large;
}