.item{
    width: 90%;
    height: 50px;
    display: flex;
    margin:5px 5px 5px 5px;
}
.item > div {
    border: solid;
}
.item-img-box{
    width: 20%;
}
.item-info{
    width: 60%;
}
.item-info-title{
    color:white;
}
.item-info-detail{
    color:white;
}
.item-link-box{
    width: 20%;
}
.item-bg{
    background-color: gray;
    opacity: 80%;
}